
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

[class*=col] {
    flex: 1 1 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: $screen-sm) {
    .col-4 {
        flex: 0 1 33.333%;
        max-width: 33.333%;
    }

    .col-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-12 {
        flex: 0 1 100%;
    }
}