.button {
    padding: 5px 20px;
    border-radius: 4px;
    border: 1px solid;
    text-transform: uppercase;
    height: 37px;
    cursor: pointer;

    &--primary {
        background: $button-primary;
        border-color: $button-primary;
        color: #fff;
        transition: all .2s linear;

        &:hover {
            background: #fff;
            color: $button-primary;
        }
    }
}