.form {
    &__control {
        border-radius: 4px;
        border:1px solid $border-color;
        padding: 10px 15px;
        min-width: 350px;
    
        &::placeholder {
            color: $border-color;
        }
    }

    &__label {
        font-size: 12px;
        display: block;
        color: #bbb;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__group {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__textarea {
        resize: none;
        min-height: 200px;
        width: 100%;
    }
}