<template>
  <div class="app" :class="{ 'bg--primary': currentTab === 'Company Page'  }">
    <Header></Header>
    <div class="container">
      <div class="row">
        <div class="col-12">
         <Breadcrumb></Breadcrumb>
        </div>
        <div class="col-4">
          <Aside></Aside>
        </div>
        <div class="col-8">
          <CompanyPage v-if="currentTab === 'Company Page'"></CompanyPage>
          <div class="panel" v-if="currentTab !== 'Company Page'">
            <CompanyData v-if="currentTab === 'Company Data'"></CompanyData>
            <h2 v-if="currentTab === 'Company Table'" class="unavailable">Current unavailable</h2>          
          </div>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Aside from './Aside.vue';
import Breadcrumb from './Breadcrumb.vue';
import CompanyData from './CompanyData.vue';
import Header from './Header.vue';
import CompanyPage from './CompanyPage.vue';
import Footer from './Footer.vue';


export default {
  components: {
    Aside,
    Breadcrumb,
    CompanyData,
    Header,
    Footer,
    CompanyPage
  },
  computed: {
    ...mapState(["currentTab"])
  }
};
</script>

<style lang="scss">
@import "../styles/helpers/_variables.scss";

.app {
  height: calc(100vh - 200px); // Footer height 

  .panel {
    border: 1px solid $border-color;
    min-height: 30vh;
    margin-bottom: 60px;
    border-radius: 8px;
    padding: 15px;
  }
}

.breadcrumb {
  color: $paragraph-color;
  margin-bottom: 25px;
}
</style>
