<template>
  <div class="aside">
    <nav class="aside__nav">
      <a
        class="nav__link"
        v-for="(item, index) of items"
        :href="slugging(item)"
        :key="index"
        @click="setItem(item, $event)"
        :class="{ 'is-active': currentTab === item }"
      >{{item}}</a>
    </nav>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations, mapState } from "vuex";

export default {
  computed: {
    ...mapGetters({
      items: "getTabItems"
    }),

    ...mapState(["currentTab"]),
  },
  methods: {
    ...mapActions(["fetchTabItems"]),
    ...mapMutations(["setCurrentTab"]),

    slugging: item =>
      item
        .toLowerCase()
        .split(" ")
        .join("-"),

    setItem(item, $event) {
      $event.preventDefault();
      this.setCurrentTab(item);
    }
  },
  created() {
    this.fetchTabItems();
  }
};
</script>
<style lang="scss">
@import "../styles/helpers/variables.scss";

.aside {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  background: white;

  &__nav {
    display: flex;
    flex-direction: column;

    .nav__link {
      padding: 30px;
      text-decoration: none;
      color: $paragraph-color;
      text-transform: uppercase;
      transition: all .2s ease;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }

      &.is-active {
        border-left: 5px solid $color-primary;
        background: rgba(lighten($color-primary, 50%), 0.1);
        color: $color-primary;
      }
    }
  }
}
</style>
