<template>
    <div class="breadcrumb">
    Home <span v-if="currentTab">/</span> {{currentTab}}
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState(["currentTab"])
  }
};
</script>

<style lang="scss">
@import "../styles/helpers/_variables.scss";

.breadcrumb {
  color: $paragraph-color;
  margin-bottom: 25px;
  text-transform: uppercase;

  span {
    display: inline-block;
    margin: 0 5px;
  }
}
</style>
