<template>
  <div class="company-data">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi provident eius, aut similique est, vitae exercitationem sunt iste enim ducimus hic! Repellat culpa alias magni doloremque. </p>
      <div class="form">
        <div class="form__group">
          <label for="company-name" class="form__label">Company Name</label>
          <input class="form__control" placeholder="e.g Your Company Name">
        </div>
        <div class="form__group">
          <label for="company-name" class="form__label">Company Spend</label>
          <input class="form__control" placeholder="e.g $150,000">
        </div>
        <div class="form__group">
          <label for="company-name" class="form__label">Company Spend Ability</label>
          <input class="form__control" placeholder="e.g $150,000 - $3300,000">
        </div>
        <div class="form__group">
          <label for="company-name" class="form__label">Notes</label>
          <textarea class="form__control form__textarea" placeholder="e.g Good Tech Company"></textarea>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  data: () => ({
  })
};
</script>

<style lang="scss">
@import "../styles/helpers/_variables.scss";

</style>
