<template>
    <footer :class="{ 'bg--clear': currentTab === 'Company Page' }">
    </footer>
</template>
<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState(["currentTab"])
  }
}
</script>
<style lang="scss">
@import "../styles/helpers/variables";

footer {
    height: 200px;
    background: rgba($color-primary, 0.1);
    position: absolute;
    bottom: 0;
    width: 100%;
}
</style>
