<template>
    <header class="header">
        <figure class="logo">
            <img src="../images/company-data/logo-pink.png" alt="Logo">
        </figure>
        <div class="form__group">
            <input type="text" class="form__control" placeholder="Search Companies">
        </div>
        <button class="button button--primary">
            New SmartList
        </button>
    </header>
</template>
<script>

</script>
<style lang="scss">
.header {
    background: #433c82;
    margin: 0;
    padding: 10px 15%;
    margin-bottom: 45px;

    display: flex;
    align-items: center;

    .logo {
        margin: 0;
        flex: 0 0 auto;
    }

    .form {
        &__group {
            margin: 0 30px 0 60px;
        }

        &__control {
            background: #292759;
            border-color: #292759;
            color: #fff;
        }
    }
}
</style>